<% content_for :stylesheets do %>
  <%= stylesheet_link_tag 'new' %>
<% end %>

<% content_for :title, "New movie" %>

<h1 class="heading">New movie</h1>

<div class="new-movie">
  <%= render "form", movie: @movie %>
</div>

<br>

<div>
  <%= link_to "Back to movies", movies_path %>
</div>
