.heading {
    color: #3F0D67;
    font-size: 3rem;
    text-decoration: underline;
}

.new-movie {
    max-width: 500px;
    padding: 15px; 
    background-color: #fff; 
    border: 1px solid #ccc; 
    border-radius: 5px; 
}

.new-movie .each-detail {
    margin-bottom: 15px;
}

.new-movie .each-detail label {
    color: #BD8E8E;
    display: block; 
    font-weight: normal; 
    margin-bottom: 5px; 
}

.new-movie .each-detail input[type="text"],
.new-movie .each-detail input[type="number"] {
    color: #B4BFB7;
    width: 95%;
    padding: 8px;
    border: 1px solid #aaa; 
    border-radius: 3px; 
}

