.heading {
    color: #3F0D67;
    font-size: 3rem;
    text-decoration: underline;
}

.new-movie {
    max-width: 500px; /* Max width for the form */
    padding: 15px; /* Padding for the form */
    background-color: #fff; /* White background */
    border: 1px solid #ccc; /* Light border */
    border-radius: 5px; /* Slightly rounded corners */
}

.new-movie .each-detail {
    margin-bottom: 15px; /* Space between input groups */
}

.new-movie .each-detail label {
    color: #BD8E8E;
    display: block; /* Block display for labels */
    font-weight: normal; /* Normal weight for labels */
    margin-bottom: 5px; /* Space between label and input */
}

.new-movie .each-detail input[type="text"],
.new-movie .each-detail input[type="number"] {
    color: #B4BFB7;
    width: 95%; /* Full width inputs */
    padding: 8px; /* Padding for input */
    border: 1px solid #aaa; /* Light border */
    border-radius: 3px; /* Slightly rounded corners */
}

